fognatura-beamer.pdf filter=lfs diff=lfs merge=lfs -text
images/scavo.JPG filter=lfs diff=lfs merge=lfs -text
images/allineamento_cieli.JPG filter=lfs diff=lfs merge=lfs -text
images/pozzetto.JPG filter=lfs diff=lfs merge=lfs -text
images/rigurgito.JPG filter=lfs diff=lfs merge=lfs -text
images/calcolo_quote_nodi.JPG filter=lfs diff=lfs merge=lfs -text
images/junctions.JPG filter=lfs diff=lfs merge=lfs -text
images/timeseries.JPG filter=lfs diff=lfs merge=lfs -text
images/costo_pozzetti.jpg filter=lfs diff=lfs merge=lfs -text
images/portata_massima.jpg filter=lfs diff=lfs merge=lfs -text
images/quote_nodi.jpg filter=lfs diff=lfs merge=lfs -text
images/map.JPG filter=lfs diff=lfs merge=lfs -text
images/subcatchments_geometry.JPG filter=lfs diff=lfs merge=lfs -text
images/area.jpg filter=lfs diff=lfs merge=lfs -text
images/conduits.JPG filter=lfs diff=lfs merge=lfs -text
images/costo_totale.jpg filter=lfs diff=lfs merge=lfs -text
images/dataframe_riassuntivo.JPG filter=lfs diff=lfs merge=lfs -text
images/interpolazione_costi_tubi.jpg filter=lfs diff=lfs merge=lfs -text
images/sostituzione_diametro.JPG filter=lfs diff=lfs merge=lfs -text
images/subcatchments.JPG filter=lfs diff=lfs merge=lfs -text
images/analisi_area.jpg filter=lfs diff=lfs merge=lfs -text
images/costo_scavo.jpg filter=lfs diff=lfs merge=lfs -text
images/costo_tubi.jpg filter=lfs diff=lfs merge=lfs -text
images/pioggia.jpg filter=lfs diff=lfs merge=lfs -text
images/subcatchments_properties.JPG filter=lfs diff=lfs merge=lfs -text
images/verifica_condotta.JPG filter=lfs diff=lfs merge=lfs -text
images/condotte_final.jpg filter=lfs diff=lfs merge=lfs -text
images/outfall.jgw filter=lfs diff=lfs merge=lfs -text
images/outfall.jpg filter=lfs diff=lfs merge=lfs -text
images/titlegraphic.jpg filter=lfs diff=lfs merge=lfs -text
images/analisi_area.jgw filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
images/pozzetti.jgw filter=lfs diff=lfs merge=lfs -text
